@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.menu_item {
  @apply border-b border-gray-50;
}

.hover-line:hover {
  @apply border-yellow-300;
}

.btn-primary {
  @apply block bg-yellow-300 hover:bg-yellow-400 text-gray-950 font-bold rounded-lg p-2 w-full text-center;
}

.form-control {
  @apply block bg-gray-200 text-gray-950 border-0 rounded-lg p-2 w-full;
}
